<footer class="footer text-center container-fluid text-primary bg-secondary py-5">
    <div class="copyright fs-md-8 fs-9">Copyright © 2023 吃貨糾察隊 All rights reserved</div>
    <div class="fs-md-9 fs-11">非商業用途，僅作為個人前端作品使用</div>
  </footer>

  