<nav class="navbar main-nav navbar-expand-md bg-secondary fixed-top w-100">
    <div class="container">
        <h1 class="navbar-brand m-0">
            <a href="index.html">
                <img class="logoImg" src="../assets/images/logo.png" alt="logoImg">
            </a>
        </h1>
        <!-- hamMenu 右側 -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-8 d-lg-flex d-none">
            <li class="nav-item">
                <a class="d-flex align-items-center gap-2" href="search.html">
                    <i class="bi bi-search search-icon text-primary fs-9"></i>
                    <p class="nav-link mb-0 text-primary p-0">搜尋</p>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link text-primary p-0 nav-link" href="type.html">美食類別</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-primary p-0 nav-link" href="./blogPost">部落格</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-primary p-0 nav-link" href="./explore">探索新店</a>
            </li>

            <li class="nav-item member-item position-relative">
                <a class="text-primary  p-0 fs-5" href="#"><i class="bi bi-person-circle person-icon"></i></a>
                <ul class="position-absolute sub-menu list-unstyled bg-secondary py-4 px-3 end-0 text-nowrap">
                    <li>
                        <a href="#"
                            class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                            <i class="bi bi-person-fill"></i>
                            <span>我的資料</span>
                        </a>
                    </li>
                    <li>
                        <a href="collection.html"
                            class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                            <i class="bi bi-heart-fill"></i>
                            <span>收藏夾</span>
                        </a>

                    </li>
                    <li>
                        <a href="editArticle.html"
                            class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                            <i class="bi bi-pen-fill"></i>
                            <span>發表文章</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                            <i class="bi bi-folder-fill"></i>
                            <span>管理文章</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>登出</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <a class="d-lg-none btn bg-transparent" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"
            aria-controls="offcanvasResponsive"><i class="bi bi-list text-primary fs-sm-5 fs-7"></i></a>


        <div class="offcanvas-lg offcanvas-end offcanvasMenu bg-secondary text-primary d-lg-none" tabindex="-1"
            id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header justify-content-end">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-8 flex-column">
                    <li class="nav-item ">
                        <a class="d-flex align-items-center gap-2" href="search.html">
                            <i class="bi bi-search search-icon text-primary fs-9"></i>
                            <p class="nav-link mb-0 text-primary p-0">搜尋</p>
                        </a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-primary p-0 nav-link" href="type.html">美食類別</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-primary p-0 nav-link" href="./blogPost">部落格</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-primary p-0 nav-link" href="./explore">探索新店</a>
                    </li>

                    <li class="nav-item ">
                        <a href="collection.html"
                            class="text-primary p-0 nav-link">收藏夾
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="editArticle.html"
                            class="text-primary p-0 nav-link">
                            發表文章
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="#"
                            class="text-primary p-0 nav-link">
                            管理文章
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="#"
                            class="text-primary p-0 nav-link">
                            登出
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>