<nav class="navbar main-nav navbar-expand-md bg-secondary position-fixed w-100">
    <div class="container">
        <h1 class="navbar-brand"><a href="#"></a></h1>
        <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-8 ">
                <li class="nav-item">
                    <a class="d-flex align-items-center gap-2" href="#">
                        <i class="bi bi-search search-icon text-primary fs-7"></i>
                        <p class="nav-link mb-0 text-primary p-0" href="#">搜尋</p>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary p-0 nav-link" href="#">美食類別</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-primary p-0 nav-link" href="#">部落格</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-primary p-0 nav-link" href="#">探索新店</a>
                </li>

                <li class="nav-item member-item">
                    <a class="text-primary position-relative p-0 fs-4" href="#"><i class="bi bi-person-circle person-icon"></i></a>
                    <ul class="position-absolute sub-menu list-unstyled bg-secondary py-4 px-3">
                        <li>
                            <a href="#" class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                                <i class="bi bi-person-fill"></i>
                                <span>我的資料</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                                <i class="bi bi-heart-fill"></i>
                            <span>收藏夾</span>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                                <i class="bi bi-pen-fill"></i>
                                <span>發表文章</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                                <i class="bi bi-folder-fill"></i>
                                <span>管理文章</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-primary d-flex align-items-center gap-2 mb-3 sub-link position-relative">
                                <i class="bi bi-box-arrow-left"></i>
                                <span>登入</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>