body {
    line-height: 1.5;
    font-family: "Noto Sans TC", sans-serif;
    padding-top: 56px;
    @include medium{
      padding-top: 76px;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: block;
}

