@mixin xxlarge {
    @media(min-width:1400px) {
        @content;
    }
}

@mixin xlarge {
    @media(min-width:1200px) {
        @content;
    }
}
@mixin large {
    @media(min-width:992px) {
        @content;
    }
}

@mixin medium{
    @media(min-width:768px) {
        @content;
    }
}

@mixin small{
    @media(min-width:576px) {
        @content;
    }
}