.mt-top {
  margin-top: 60px;
}

.breadCrumn-width {
  min-width: 88px;
}

.breadCrumn-width-s {
  min-width: 72px;
}

.breadCrumn-width-xs {
  min-width: 56px;
}

.border-radius-lg {
  border-radius: 50px;
}

.border-radius-md {
  border-radius: 30px;
}

.border-radius-sm {
  border-radius: 20px;
}

.border-radius-sm-m {
  border-radius: 18px;
}

.border-radius-xs {
  border-radius: 12px;
}

.border-radius-xss {
  border-radius: 4px;
}

.border-radius-0 {
  border-radius: 0;
}

.outline {
  outline: green solid 1px;
}

.btn-hover-black:hover {
  background-color: $secondary !important;
  color: $primary !important;
  border-color: transparent !important;
}

.btn-hover-yellow:hover{
  background-color: $secondary !important;
  color: $primary !important;
  border-color: transparent !important;
}

.btn-hover-dark:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}