.mt-top {
  margin-top: 60px;
}

.breadCrumn-width {
  min-width: 88px;
}

.breadCrumn-width-s {
  min-width: 72px;
}

.breadCrumn-width-xs {
  min-width: 56px;
}

.border-radius-lg {
  border-radius: 50px;
}

.border-radius-md {
  border-radius: 30px;
}

.border-radius-sm {
  border-radius: 20px;
}

.border-radius-sm-m {
  border-radius: 18px;
}

.border-radius-xs {
  border-radius: 12px;
}

.border-radius-xss {
  border-radius: 4px;
}

.border-radius-0 {
  border-radius: 0;
}

.outline {
  outline: green solid 1px;
}

.btn-hover-black:hover {
  background-color: $secondary !important;
  color: $primary !important;
  border-color: transparent !important;
}

.btn-hover-yellow:hover{
  background-color: $primary !important;
  color: $secondary !important;
  border-color: transparent !important;
}

.btn-hover-dark:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.link-hover{
  &:hover{
    color:$primary !important;
  }
}

.z-index-5{
  z-index: 5;
}

.z-index-minus{
  z-index: -1;
}

.rounded-up{
  border-radius:.375rem 0 0 0;
}

.rounded-right{
  border-radius:0 .375rem 0 0;
}

.rounded-left{
  border-radius:0 0 0 .375rem ;
}

.rounded-left{
  
  border-radius:0 0 .375rem 0;
}

.text-shadow-link:hover{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
}
