.mt-top {
  margin-top: 60px;
}

.breadCrumn-width {
  min-width: 88px;
}

.breadCrumn-width1 {
  min-width: 72px;
}

.breadCrumn-width2 {
  min-width: 56px;
}

.border-radius-lg {
  border-radius: 50px;
}
