@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables"; //自訂變數
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css"; //引入bootstrap icons
@import "./utils/utilities";
@import "../../node_modules/bootstrap";

@import "./_breakpoints"; //斷點設定
@import "./base"; //全站設定
@import "./util"; //工具類(margin padding 元件顏色等)
@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/type.scss";
@import "./pages/index.scss";
@import "./pages/collection.scss";
