.logoImg{
  height: 32px;
  @include small{
    height: 60px;
  }
}

.nav-link {

  &:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 1px auto;
    background-color: $primary;
    transition: width 0.3s;
  }

  &:hover {
    &:after {

      width: 80%;

    }
  }

}

.search-icon {
  margin-top: -4px;
}

.offcanvasMenu{
  .btn-close{
    background-image: url(../images/btn-close.png);
  }
  
}
.nav-item{
  .accordion-button::after{
    background-image: url(../images/plus.png);
    margin-top:0;
  }
  .accordion-button:not(.collapsed)::after{
    background-image: url(../images/dash.png);
   
  }
}

.navbar-toggler-icon {
  background-image: url(../images/ham-menu-primary.svg);
}

.member-item {
  &:hover {
    .sub-menu {
      @include medium{
        display: block;
      }
    }
  }
}

.sub-menu {
  display: none;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 0px rgba(255, 228, 0, 0.25);
}

.sub-link{
  &:after {
    position: absolute;
    bottom:-4px;
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 1px auto;
    background-color: $primary;
    transition: width 0.3s;
  }

  &:hover {
    &:after {

      width: 100%;

    }
  }
}