.collectionpage-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/collection-banner.jpg?raw=trueh");
  background-size: cover;
  background-position: center;
}

.collectionpage-banner {
  height: 322px;
}

.collectionpage-main {
  .collectionpage-select-width {
    width: 194px;
  }
}

.add-collection{
  &:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.stores {

  .store-items:hover{
    .store-img{
      opacity: 0.7;
    }
  }
 
  .store-list {
    width: 100%;
    
  }

  .store-img {
    max-height: 276px;
    transition: all 0.2s ease-in-out;
    
  }

  .store-inform {
    width: 100% !important;
    @include large{
      width: 80% !important;
    }
  }

}


.collectionpage-footer-banner {
  .footer-banner-slogan {
    max-width: 769px;
  }
}