.collectionpage-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/collection-banner.jpg?raw=trueh");
  background-size: cover;
}

.collectionpage-banner {
  height: 322px;
}

.collectionpage-main {
  .collectionpage-select-width {
    width: 194px;
  }
}

.stores {
  .store-list {
    width: 100%;
  }

  .store-img {
    max-height: 276px;
  }

  .store-inform {
    width: 80%;
  }

  .store-collect {
    width: 20%;
  }
}

.collectionpage-footer-banner {
  .footer-banner-slogan {
    max-width: 769px;
  }
}
