.collection-header{
    .select-width{
        width: 196px;
    }


}

.collection-content{
    .item-wrap{
        height: 226px;
        @include large{
            height: 264px;
        }
    }
    .item-img{
        width: 100%;
        height: 226px;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        @include large{
            height: 264px;
        }

        &:hover{
            transform: scale(1.2);
        }
    }

    .num{
        background: rgba(255, 255, 255, 0.70);
        border-radius: 20px;
        bottom:16px;
        right:16px;
    }
}

.footer-banner{
    .footer-more-btn{
        transition: all 0.2s ease-in-out;
    
    &:hover{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transform: scale(1.2);
    }
    }
}