.explore-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/food-explore-banner.jpg?raw=true");
  background-size: cover;
}

.explore-banner {
  height: 322px;

  .banner-select-width {
    width: 250px;
  }
}

.explore-main {
  .search-select-width {
    width: 194px;
  }
}

.stores {
  .store-list {
    width: 100%;
  }

  .store-img {
    max-height: 276px;
  }
}

.explore-footer-banner {
  .footer-banner-slogan {
    max-width: 769px;
  }
}
