.explore-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/explore-banner-sm.jpg?raw=true");
  background-size: cover;
  background-position: center;

  @include large {
    background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/explore-banner.jpg?raw=true");
    background-size: cover;
    background-position: center;
  }
}

.explore-banner {
  height: 322px;
}

.explore-main {
  .explore-select-width {
    width: 194px;
  }
}

.stores {
  .store-list {
    width: 100%;
  }

  .store-img {
    max-height: 276px;
  }

  .store-inform {
    width: 80%;
  }

  .store-collect {
    width: 20%;
  }
}

.explore-footer-banner {
  .footer-banner-slogan {
    max-width: 769px;
  }
}

.scrollable-btns {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }

  @include large {
    width: 79.6%;
  }
}

.btns {
  display: inline-block;
}
