.page-link {

    border-radius: 5px;
    &.active{
      background: #FFE400;
    }
    &:hover{
      background: #FFE400;
    }
   
  }
  

.footer-banner{
    .footer-more-btn{
        transition: all 0.2s ease-in-out;
    
    &:hover{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transform: scale(1.2);
    }
    }
}