.banner {
  //height:calc(100vh - 80px);
  height: 686px;
  background-image: url(../images/index-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.middle-bg {
  background-image: url("../images/index-banner-2.png");
  background-size: cover;
  background-position: center;
  height: 256px;
  @include medium{
      height: 456px;
  }
  @include large{
      height: 686px;
  }
}

.middle-text {
  color: $primary;
}

.pain-img {
  height: 200px;
  width: 200px;
}

.pain-text {
  display: flex;
  margin-left: 50px;
  width: 6rem;

  @include large{
  width: 13rem;
  margin-left: 0;
  }
}


.pain-text-r {
  display: flex;
  margin-right: 50px;
  width: 6rem;

  @include large{
  width: 13rem;
  margin-left: 0;
  }
}
