.login-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/login&signup-banner.jpg?raw=true");
  background-size: cover;
  background-position: center;
}

.login-grbg {
  background-color: #D9D9D999; /*hex透明度表示法-99為60%*/
  padding: 50px 0;
  display: none;


  @include medium{
    display: none;
  }

  @include large{
    padding: 125px 0;
    margin-top: 25px;
    display: block;
    top:90%;
  }

}

.login-box {
  background-color: #fff;

  @include medium{
    height: 50%;
  }

  @include large{
    position:absolute;
    top:20%;
    left:20%;
    height: 70%;
  }

}

.text-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include large{
    justify-content: end;
  }
}


.envelope-icon {
  background-image: url(../images/envelope-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.eye-icon {
  background-image: url(../images/eye-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}
