.notfound-bg {
  background-image: url("../images/login&signup-banner.jpg");
  background-size: cover;
  background-position: center;
}

.notfound-box {
  background-color: #D9D9D999; /*hex透明度表示法-99為60%*/
  padding: 50px 0;

  @include medium{
    padding: 80px 0;
  }

  @include large{
    padding: 150px 0;
  }

}
