.member-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/login&signup-banner.jpg?raw=true");
  background-size: cover;
  background-position: center;
  height: 256px;
  @include medium{
      height: 456px;
  }
  @include large{
      height: 686px;
  }
}

.bg-box {
  background-color: #D9D9D999; /*hex透明度表示法-99為60%*/
  margin-top: 150px;

  @include small{
    height: 100px;
  }

  @include medium{
    height: 456px;
  }
  @include large{
    height: 500px;
  }
}



.bg-box-w {
  background-color: #fff; /*hex透明度表示法-99為60%*/
  margin-top: -100px;
  width: 600px;
  height: 300px;


  @include medium{
    height: 456px;
}
  @include large{
    height: 686px;
}
}

.member {
  background-image: url(../images/person-circle.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.envelope-fill {
  background-image: url(../images/envelope-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.eye-fill {
  background-image: url(../images/eye-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}
