.restaurant-banner {
  height: 700px;
  gap: 1.5rem;

  @include large {
    height: 456px;
  }
}

.banner-left {
  .banner-sm-imgs {
    gap: 0.75rem;
  }

  .banner-btn {
    height: 36px;
  }

  .img-aside {
    width: 72px;
    height: 72px;
  }

  @include large {
    .img-aside {
      width: 86px;
      height: 86px;
    }
  }
}

.banner-center {
  height: 39.6%;
  .img-lg {
    background-size: cover;
    background-position: center;
  }

  @include large {
    height: 100%;
  }
}

.banner-right {
  .banner-right-btn {
    width: 28.1%;
  }

  .link-content:hover {
    color: #ffe400 !important;
    text-decoration: underline;
  }
}

.inform-left {
  .item-width {
    width: 50%;
  }

  .some-inform {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  @include large {
    .some-inform {
      border: 0;
    }
  }
}

.inform-right {
  border: 0;

  .business-time {
    border-bottom: 1px solid #000;
  }

  .go-immediately:hover {
    color: #ffe400 !important;
    text-decoration: underline;
  }

  @include large {
    border: 1px solid #000;

    .business-time {
      border-bottom: 0;
    }
  }
}

.bottom,
.upper {
  height: 24px;

  @include large {
    height: 42px;
  }
}

.user {
  .bi-person-circle {
    font-size: 40px;
  }

  @include large {
    .bi-person-circle {
      font-size: 72px;
    }
  }
}

.stars {
  cursor: pointer;
}

.more-btn:hover {
  color: #000 !important;
  background-color: #ffe400 !important;
}

.read-more:hover {
  color: #ffe400 !important;
  text-decoration: underline;
}

.messenge-list {
  gap: 1.5rem;
}

.user-img {
  width: 48px;
  height: 48px;
  @include large {
    width: 86px;
    height: 86px;
  }
}

.article {
  border-bottom: 1px solid #000;

  @include large {
    border-bottom: 0;
  }
}

.messenge-swiper {
  .swiper-slide {
    height: 100px;
    width: 100px;
    @include large {
      height: 215px;
      width: 215px;
    }
  }
}

.article-item {
  width: 100%;
  @include large {
    width: 23.6%;
  }
}

.like-item {
  width: 46.2%;
  height: 181px;

  @include large {
    width: 23.6%;
    height: 353px;
  }
}

.article-img {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
}

.like-shop1 {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/search-paging-food-2.png?raw=true");
  background-size: cover;
  background-position: center;
}

.like-shop2 {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/search-paging-food-3.png?raw=true");
  background-size: cover;
  background-position: center;
}

.like-shop3 {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/search-paging-food-4.jpg?raw=true");
  background-size: cover;
  background-position: center;
}

.like-shop4 {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/search-paging-food-5.png?raw=true");
  background-size: cover;
  background-position: center;
}

.body-user {
  height: 48px;
}

.body-end {
  .form-control {
    height: 144px;
  }
}
