.restaurant-banner {
  max-height: 456px;
}

.banner-sm-imgs {
  .img-sm {
    height: 25%;
  }
}

.banner-center {
  .img-lg {
    height: 100%;
  }
}

.item-width {
  width: 50%;
}

.google-map {
  width: 100%;
}
