.search-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/search-paging-banner.jpg?raw=true");
  background-size: cover;
}

.search-banner {
  height: 322px;

  .banner-select-width {
    width: 250px;
  }
}

.search-main {
  .search-select-width {
    width: 194px;
  }
}

.stores {
  .store-list {
    width: 100%;
  }

  .store-img {
    max-height: 276px;
  }

  .store-inform {
    width: 80%;
  }

  .store-collect {
    width: 20%;
  }
}

.footer-banner {
  .footer-more-btn {
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transform: scale(1.2);
    }
  }
}
