.signup-bg {
  background-image: url("../images/login&signup-banner.jpg");
  background-size: cover;
  background-position: center;
}

.signup-grbg {
  background-color: #D9D9D999; /*hex透明度表示法-99為60%*/
  padding: 50px 0;
  display: none;


  @include medium{
    display: none;
  }

  @include large{
    padding: 125px 0;
    margin-top: 25px;
    display: block;
    top:90%;
  }

}

.signup-box {
  background-color: #fff;



  @include medium{
    height: 50%;
  }

  @include large{
    position:absolute;
    top:20%;
    right:20%;
    height: 70%;
  }

}

.text-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include large{
    justify-content: end;
  }
}

.member-icon {
  background-image: url(../images/person-circle.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.envelope-icon {
  background-image: url(../images/envelope-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.eye-icon {
  background-image: url(../images/eye-fill.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
}

.signup-area{
  @include large{
    right:-80px;
  }
  @include xlarge{
    right:-120px;
  }
}
