.type-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/food-type-banner.jpg?raw=true");
  background-size: cover;
  background-position: center;
}

.type-banner {
  height: 322px;

  .banner-select-width {
    width: 49%;
  }

  .type-select {
    border: 1px solid #000;
    border-radius: 50px;

    @include large {
      border: 0;
      border-radius: 0;
    }
  }
}

.type-main {
  .search-select-width {
    width: 194px;
  }
}

.stores {
  .store-list {
    width: 100%;
  }

  .store-img {
    max-height: 276px;
  }

  .store-inform {
    width: 80%;
  }

  .store-collect {
    width: 20%;

    .store-collect-icon:hover {
      color: #ffe400;
    }
  }
}

.store {
  border: solid 1px $light-gray;
  border-top: 0px;

  @include large {
    border-color: transparent;
  }
}

.footer-banner {
  .footer-more-btn {
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transform: scale(1.2);
    }
  }
}

.add-collection {

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.select-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.7)!important;
  backdrop-filter: blur(2px);
}