.type-banner-bg {
  background-image: url("https://github.com/foodies-team/foodies/blob/master/assets/images/food-type-banner.jpg?raw=true");
  background-size: cover;
}

.type-banner {
  height: 322px;

  .banner-select-width {
    width: 250px;
  }
}

.type-main {
  .search-select-width {
    width: 194px;
  }
}
