<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/images/logo-top.png" type="image/x-icon" />
    <title>美食總覽</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="fc-banner mb-3 mb-md-5">
      <h2
        class="container fs-4 fs-md-3 fs-xl-2 fw-bold text-white position-relative top-50 translate-middle-y"
      >
        好時。享食
      </h2>
    </section>
    <nav aria-label="breadcrumb text-secondary" class="container mb-8">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="./index.html" class="text-secondary">首頁</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">美食總覽</li>
      </ol>
    </nav>

    <main class="container mb-10 mb-md-16">
      <h2
        class="fw-bold text-center fs-4 fs-md-3 fs-xl-2 mb-8 mb-md-12 mb-lg-16"
      >
        大啖美食，不需要理由
      </h2>

      <a href="#" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">只想慵懶>>>早午餐、輕食</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-3.jpg"
                alt="breakfast"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">
                  早初entry time
                </h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台北市</span>
              </div>
            </div>
          </a>

          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-5.jpg"
                alt="breakfast"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">和煦微光</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>桃園市</span>
              </div>
            </div>
          </a>

          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-1.jpg"
                alt="breakfast"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">小北家灶咖</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;5.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台北市</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="#" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">台灣人愛呷 >>>國民小吃</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-7.jpg"
                alt="fried dumplings"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">承記鍋貼</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>新北市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-11.jpg"
                alt="stinky dofu"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">阿國臭豆腐</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;5.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>屏東縣</span>
              </div>
            </div>
          </a>

          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-14.jpg"
                alt="green onion pancake"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">柯氏蔥油餅</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>宜蘭縣</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="#" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">暖身也暖心 >>> 精選湯底鍋</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-6.webp"
                alt="hotpot"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">岩漿火鍋</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>新竹市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-12.jpg"
                alt="hotpot"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">青花驕</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台北市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-18.jpg"
                alt="hotpot"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">八石什鍋</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;5.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台中市</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="afternoonTea.html" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">午後 chill chill >>> 下午茶</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-8.jpg"
                alt="drinks"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">林三茶研所</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>桃園市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-10.jpg"
                alt="cake"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">
                  花鳥川水果千層蛋糕
                </h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;5.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台中市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-4.jpg"
                alt="cake"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">折田菓舖</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台北市</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="#" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">放肆一下 >>> 燒烤、炸物</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-16.jpg"
                alt="chicken steak"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">嵐町雞排</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>桃園市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-9.jpg"
                alt="skewer"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">
                  玩食燒日式串燒
                </h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台南市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-13.jpg"
                alt="hotpot"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">非炸不可</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>桃園市</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <a href="#" class="mb-8 d-flex link-secondary fc-title">
        <i class="bi bi-egg-fried egg-icon fs-7 fs-md-6 fs-lg-5 me-2"></i>
        <h3 class="fs-6 fs-lg-5 fw-bold mb-0">姊妹淘談心 >>> 氣氛餐酒館</h3>
      </a>

      <div class="swiper store-swiper mb-10 fc-store">
        <div class="swiper-wrapper">
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-2.jpg"
                alt="bistro"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">甩泰餐酒館</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台北市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-17.jpeg"
                alt="bistro"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">微醺光廊</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;5.0</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>台中市</span>
              </div>
            </div>
          </a>
          <a
            href="#"
            class="swiper-slide card text-decoration-none text-secondary"
          >
            <div class="overflow-hidden flex-grow-1">
              <img
                class="card-img-top h-100"
                src="../assets/images/food-type-food-15.jpg"
                alt="bistro"
              />
            </div>

            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center flex-grow-1 mb-1"
              >
                <h4 class="card-title fs-7 fs-lg-6 mb-0 fw-bold">埕拾參</h4>
                <span class="d-flex fs-8"
                  ><i class="bi bi-star-fill text-primary"></i>&nbsp;4.5</span
                >
              </div>

              <div class="card-text d-flex fs-8">
                <i class="bi bi-geo-alt-fill text-danger"></i>&nbsp;
                <span>高雄市</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="d-none d-md-flex justify-content-end page-nav">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0">
            <li class="page-item">
              <a
                class="page-link border-0 py-lg-2 py-1 px-lg-3 px-2"
                href="#"
                aria-label="Previous"
              >
                <i class="bi bi-chevron-left fs-lg-8 fs-9 text-secondary"></i>
              </a>
            </li>
            <li class="page-item">
              <a
                class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0 active"
                href="#"
                >1</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                href="#"
                >2</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                href="#"
                >3</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                href="#"
                >4</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link border-0 py-lg-2 py-1 px-lg-3 px-2"
                href="#"
                aria-label="Previous"
              >
                <i class="bi bi-chevron-right fs-lg-8 fs-9 text-secondary"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>

    <section
      class="footer-banner d-flex flex-column justify-content-center align-items-center bg-primary py-md-16 py-11"
    >
      <h2 class="fw-bold fs-5 fs-sm-4 fs-md-3 fs-xl-2 mb-3 mb-md-5">
        令人怦然心動的美食
      </h2>
      <h3 class="fs-7 fs-sm-6 fs-md-5 fs-xl-4 mb-md-8 mb-6">
        身為吃貨一定要知道
      </h3>
      <a
        href="#"
        class="fw-bold btn fs-md-7 py-1 px-3 py-md-2 px-md-4 btn-secondary text-primary"
        role="button"
        >探索美食</a
      >
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
