<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title fs-7">我是首頁 <i class="bi bi-search"></i></h1>
    <h2 class="index-title">測試-Vivian</h2>
    <h1 class="index-title">我是分支dev的分支dev-vian-5</h1>
    <h1 class="index-title">我是分支dev的分支dev-vian-6</h1>
    <a href="type.html" class="text-secondary">美食類別</a>
    <a href="search.html" class="text-secondary">搜尋個頁</a>
    <a href="explore.html" class="text-secondary">探索美食</a>
    <a href="collectionPage.html" class="text-secondary">收藏個頁</a>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
