<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>美食糾察隊</title>
    <link rel="icon" href="../assets/images/logo-top.png" type="image/x-icon" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title fs-7">我是首頁 </h1>
    <a href="type.html" class="text-secondary">美食類別</a>
    <a href="search.html" class="text-secondary">搜尋個頁</a>
    <a href="explore.html" class="text-secondary">探索美食</a>
    <a href="collectionPage.html" class="text-secondary">收藏個頁</a>
    <a href="restaurant.html" class="text-secondary">餐廳資訊</a>
    

    <section class="container group mb-10 mb-md-16">
      <h2 class="fs-xl-2 fs-md-3 fs-4 mb-8 mb-md-13">聚會嗨翻天</h2>
      <div class="row mb-6 mb-md-8">
       
        <div class="col-md-5">
          <img src="../assets/images/blog-food-8.jpg" alt="skewer" class="w-100">
        </div>
        <div class="col-md-7">
          <a href="#" class="item  h-100 py-4 py-md-0 link-secondary d-flex flex-column justify-content-between">
              <h3 class="fs-6 fs-xl-5 fw-bold mb-0 px-4 px-md-0">隱藏巷弄的串燒居酒屋，沒預約可是吃不到！</h3>
              <hr class="d-md-none">
              <div class="d-flex justify-content-between fs-md-8 px-4 px-md-0">
                <span>By 愛吃星球</span>
                <span>2023/07/10</span>
              </div>
            </a>
        </div>
      
      </div>
      <div class="row mb-6 mb-md-8">
        <div class="col-md-5">
          <img src="../assets/images/blog-food-9.jpg" alt="fry" class="w-100 img">
        </div>
<div class="col-md-7">

  <a href="#" class="item  h-100 py-4 py-md-0 d-flex link-secondary flex-column justify-content-between">
      <h3 class="fs-6 fs-xl-5 fw-bold mb-0 px-4 px-md-0">獨門香料的熱炒桌菜，體驗道地客家風情！還有 KTV 包廂~</h3>
     <hr class="d-md-none">
      <div class="d-flex justify-content-between fs-md-8 px-4 px-md-0">
        <span>By peihsuan</span>
        <span>2023/07/20</span>
      </div>
    </a>
</div>
       
      </div>

      
      <div class="d-none d-md-flex row mb-md-11">
        <div class="col-md-5">
          <img src="../assets/images/blog-food-10.jpg" alt="hotpot" class="w-100">
        </div>
        <div class="col-md-7">
          <a href="#" class="item h-100 d-flex link-secondary flex-column justify-content-between">
              <h3 class="fs-6 fs-xl-5 fw-bold mb-0">精選湯底與海陸食材~夏天吃鍋超過癮</h3>
              <div class="d-flex justify-content-between fs-md-8">
                <span>By 吃貨小姐</span>
                <span>2023/06/24</span>
              </div>
            </a>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block col-lg-6 mx-auto"><button type="button" class="btn btn-primary btn-hover-black border-radius-lg fs-lg-9 fs-11" data-bs-toggle="modal" data-bs-target="#new-collection-modal">看更多好文</button></div>
    </section>

    <section
      class="footer-banner d-flex flex-column justify-content-center align-items-center bg-primary py-md-16 py-11"
    >
      <h2 class="fw-bold fs-5 fs-sm-4 fs-md-3 fs-xl-2 mb-3 mb-md-5">盡情大快朵頤</h2>
      <h3 class="fs-7 fs-sm-6 fs-md-5 fs-xl-4 mb-md-8 mb-6">發現無限滋味</h3>
      <a href="./explore.html" class="fw-bold btn fs-md-7 py-1 px-3 py-md-2 px-md-4 btn-secondary text-primary" role="button">探索美食</a>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
