<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>您搜尋的頁面不存在</title>
    <link rel="icon" href="../assets/images/logo-top.png" type="image/x-icon" />
</head>
<body>
    <%- include('./layout/header'); -%>

    <section class="notfound-bg vh-100">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <nav aria-label="breadcrumb text-secondary" class="mt-10">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" class="text-secondary">首頁</a></li>
                        <li class="breadcrumb-item breadCrumn-width"><a href="#" class="text-secondary">會員中心</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">未知頁面</li>
                        </ol>
                    </nav>  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="notfound-box col-8 col-lg-10">
                    <div class="text-center">
                        <h2 class="fs-lg-3 fs-5">Uh ohhh！</h2>
                        <h3 class="fs-lg-7 fs-9 pt-lg-4">很抱歉，您搜尋的頁面</br>已超出吃貨糾察隊的巡邏範圍唷~</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>
