<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的資料</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <section class="member-bg vh-100 mx-auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="mt-8">
                <nav aria-label="breadcrumb text-secondary">
                    <ol class="breadcrumb mb-3">
                    <li class="breadcrumb-item"><a href="index.html" class="text-secondary">首頁</a></li>
                    <li class="breadcrumb-item breadCrumn-width"><a href="#" class="text-secondary">會員中心</a></li>
                    <li class="breadcrumb-item active text-primary" aria-current="page">我的資料</li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container mb-10 mt-50">
        <div class="row member-bg-w mx-auto">
            <h2 class="fw-bolder fs-lg-3 fs-5 mt-10 m-lg-10">我的資料</h2>
            <div class="container mt-10 m-lg-10 align-items-center">  
                <ul class="row list-group list-group-horizontal d-flex align-items-center">
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">姓名</li>
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">MM</li>
                    </ul>
                <hr width="90%">
                <ul class="row list-group list-group-horizontal pt-5 pt-lg-10 d-flex align-items-center">
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">電子郵件</li>
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">minn.oyc@gmail.com</li>
                    </ul>
                <hr width="90%">
                <ul class="row list-group list-group-horizontal pt-5 pt-lg-10 d-flex align-items-center position-relative">
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">密碼</li>
                    <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">********</li>
                    <li class="col-3 d-flex position-absolute bottom-0 end-0"><i class="bi bi-eye-fill fs-6 me-2"></i><a href="#" class="edit-btn btn btn-outline-dark d-flex align-items-center justify-content-center border-radius-xs py-2 btn-hover-black">重設</a></li>
                    </ul>
                <hr width="90%">
                <div class="container d-flex justify-content-center alig-items-center mb-4"><a href="#" class="btn btn-primary border-radius-xs py-2 btn-hover-black">儲存</a></div>
            </div>                        
        </div>
    </div>

</section>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>
