<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的資料</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <section class="profile-bg vh-100">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <nav aria-label="breadcrumb text-secondary" class="mt-10">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" class="text-secondary">首頁</a></li>
                        <li class="breadcrumb-item breadCrumn-width"><a href="#" class="text-secondary">會員中心</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">我的資料</li>
                        </ol>
                    </nav>  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="profile-box col-8 col-lg-10 mx-auto">
                    <h2 class="fw-bolder fs-lg-3 fs-5 m-8">我的資料</h2>  
                    <ul class="list-group list-group-horizontal">
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">姓名</li>
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">MM</li>
                    </ul>
                    <hr width="90%" class="mx-auto">
                    <ul class="list-group list-group-horizontal">
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">電子郵件</li>
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11 ">minn.oyc@gmail.com</li>
                    </ul>
                    <hr width="90%" class="mx-auto">
                    <ul class="list-group list-group-horizontal">
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">密碼</li>
                        <li class="col-3 list-group-item fs-md-7 fs-sm-8 fs-11">********</li>
                        <li class="col-3 eye"><i class="bi bi-eye-fill me-2 fs-md-8 fs-sm-9 fs-11"></i><a href="resetPassword.html" class="btn btn-outline-dark btn-hover-black p-md-2 fs-md-8 fs-sm-9 fs-11">重設</a></li>
                    </ul>
                    <hr width="90%" class="mx-auto">
                    <div class="container d-flex justify-content-center alig-items-center mb-4"><a href="#" class="btn btn-primary border-radius-xs py-2 btn-hover-black fs-md-8 fs-sm-9 fs-11">儲存</a></div>
                </div>                        
            </div>
        </div>
    </section>


<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>
