<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="search-banner-bg">
      <div class="container search-banner d-flex align-items-center">
        <div
          class="banner-select d-flex col-lg-5 col-12 justify-content-between px-lg-2 py-lg-3 px-1 py-2"
        >
          <select
            class="banner-select-width form-select border border-1 border-radius-lg py-3 pe-3 ps-4"
            aria-label="search-city"
          >
            <option selected>台北市</option>
            <option value="1">新北市</option>
            <option value="2">基隆市</option>
            <option value="3">新竹市</option>
            <option value="4">桃園市</option>
            <option value="5">新竹縣</option>
            <option value="6">宜蘭縣</option>
            <option value="7">臺中市</option>
            <option value="8">苗栗縣</option>
            <option value="9">彰化縣</option>
            <option value="10">南投縣</option>
            <option value="11">雲林縣</option>
            <option value="12">高雄市</option>
            <option value="13">臺南市</option>
            <option value="14">嘉義市</option>
            <option value="15">嘉義縣</option>
            <option value="16">屏東縣</option>
            <option value="17">花蓮縣</option>
            <option value="18">臺東縣</option>
          </select>
          <select
            class="banner-select-width form-select border border-1 border-radius-lg py-3 pe-3 ps-4"
            aria-label="search-city"
          >
            <option selected>下午茶</option>
            <option value="1">早午餐、輕食</option>
            <option value="2">精選湯底鍋</option>
            <option value="3">國民小吃</option>
            <option value="4">燒烤、炸物</option>
            <option value="5">氣氛餐酒館</option>
          </select>
        </div>
      </div>
    </section>

    <main class="container search-main my-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-6">
          <li class="breadcrumb-item">
            <a href="index.html" class="text-secondary">首頁</a>
          </li>
          <li class="breadcrumb-item breadCrumn-width-xs">
            <a href="#" class="text-secondary">檢索</a>
          </li>
          <li class="breadcrumb-item breadCrumn-width-s">
            <a href="#" class="text-secondary">台北市</a>
          </li>
          <li class="breadcrumb-item active text-primary" aria-current="page">
            下午茶
          </li>
        </ol>
      </nav>

      <div
        class="search d-flex justify-content-between pb-4 border-bottom border-secondary flex-lg-row flex-column"
      >
        <select
          class="search-select-width form-select border border-1 border-radius-lg p-lg-3 p-2 mb-lg-0 mb-4"
          aria-label="search-city"
        >
          <option selected>依評價排序</option>
        </select>

        <div
          class="scrollable-btns d-flex justify-content-lg-end justify-content-start"
        >
          <div class="btns">
            <button
              type="button"
              class="btn btn-outline-primary text-secondary p-lg-3 border-radius-lg border-secondary p-1 me-5"
            >
              木柵動物園
            </button>

            <button
              type="button"
              class="btn btn-outline-primary text-secondary p-lg-3 border-radius-lg border-secondary p-1 me-5"
            >
              國父紀念館
            </button>

            <button
              type="button"
              class="btn btn-outline-primary text-secondary p-lg-3 border-radius-lg border-secondary p-1 me-5"
            >
              台北貓空
            </button>

            <button
              type="button"
              class="btn btn-outline-primary text-secondary p-lg-3 border-radius-lg border-secondary p-1 me-5"
            >
              松山文創園區
            </button>

            <button
              type="button"
              class="btn btn-outline-primary text-secondary p-lg-3 border-radius-lg border-secondary p-1"
            >
              四四南村
            </button>
          </div>
        </div>
      </div>

      <div class="stores col-10 d-flex flex-column py-13 mx-auto">
        <ul class="store-list d-flex flex-column mb-6">
          <li
            class="store-items d-flex flex-lg-row flex-column justify-content-between mb-lg-10 mb-8"
          >
            <img
              src="../assets/images/index-food-1.jpg"
              alt="平安京茶室"
              class="store-img col-lg-5 col-12 d-block img-fluid"
            />
            <div
              class="store px-lg-6 px-2 py-lg-13 py-4 d-flex align-items-lg-center align-items-start col-lg-5 col-12"
            >
              <div class="store-inform">
                <h2 class="fs-7 fw-semibold text-secondary">平安京茶室</h2>
                <div class="rank d-flex mb-3 align-items-center">
                  <p class="fs-9 me-1 mb-0">4</p>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star fs-7"></i>
                  <p class="fs-9 ms-6 mb-0">123則評價</p>
                </div>
                <div class="phone d-flex mb-3 align-items-center">
                  <i class="bi bi-telephone-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">電話 : 02 2368 2277</p>
                </div>
                <div class="site d-flex mb-3 align-items-center">
                  <i class="bi bi-geo-alt-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">地址 : 100台北市中正區師大路165號</p>
                </div>
              </div>
              <div
                class="store-collect d-flex justify-content-center align-items-center"
              >
                <a href="#" class="text-secondary"
                  ><i
                    class="bi bi-heart fs-lg-3 fs-6 store-collect-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-search"
                  ></i
                ></a>
              </div>
            </div>
          </li>

          <li
            class="store-items d-flex flex-lg-row flex-column justify-content-between mb-lg-10 mb-8"
          >
            <img
              src="../assets/images/search-paging-food-2.png"
              alt="Cun Siou Jia 村秀家"
              class="store-img col-lg-5 col-12 d-block img-fluid"
            />
            <div
              class="store px-lg-6 px-2 py-lg-13 py-4 d-flex align-items-lg-center align-items-start col-lg-5 col-12"
            >
              <div class="store-inform">
                <h2 class="fs-7 fw-semibold text-secondary">
                  Cun Siou Jia 村秀家
                </h2>
                <div class="rank d-flex mb-3 align-items-center">
                  <p class="fs-9 me-1 mb-0">4</p>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star fs-7"></i>
                  <p class="fs-9 ms-6 mb-0">100則評價</p>
                </div>
                <div class="phone d-flex mb-3 align-items-center">
                  <i class="bi bi-telephone-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">電話 : 02 2595 5871</p>
                </div>
                <div class="site d-flex mb-3 align-items-center">
                  <i class="bi bi-geo-alt-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">地址 : 103台北市大同區昌吉街4-1號</p>
                </div>
              </div>

              <div
                class="store-collect d-flex justify-content-center align-items-center"
              >
                <a href="#" class="text-secondary"
                  ><i
                    class="bi bi-heart fs-lg-3 fs-6 store-collect-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-search"
                  ></i
                ></a>
              </div>
            </div>
          </li>

          <li
            class="store-items d-flex flex-lg-row flex-column justify-content-between mb-lg-10 mb-8"
          >
            <img
              src="../assets/images/search-paging-food-3.png"
              alt="沙丘"
              class="store-img col-lg-5 col-12 d-block img-fluid"
            />
            <div
              class="store px-lg-6 px-2 py-lg-13 py-4 d-flex align-items-lg-center align-items-start col-lg-5 col-12"
            >
              <div class="store-inform">
                <h2 class="fs-7 fw-semibold text-secondary">沙丘</h2>
                <div class="rank d-flex mb-3 align-items-center">
                  <p class="fs-9 me-1 mb-0">4</p>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star fs-7"></i>
                  <p class="fs-9 ms-6 mb-0">89則評價</p>
                </div>
                <div class="phone d-flex mb-3 align-items-center">
                  <i class="bi bi-telephone-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">電話 : 02 2556 9932</p>
                </div>
                <div class="site d-flex mb-3 align-items-center">
                  <i class="bi bi-geo-alt-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">
                    地址 : 103台北市大同區延平北路二段62號5樓
                  </p>
                </div>
              </div>
              <div
                class="store-collect d-flex justify-content-center align-items-center"
              >
                <a href="#" class="text-secondary"
                  ><i
                    class="bi bi-heart fs-lg-3 fs-6 store-collect-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-search"
                  ></i
                ></a>
              </div>
            </div>
          </li>

          <li
            class="store-items d-flex flex-lg-row flex-column justify-content-between mb-lg-10 mb-8"
          >
            <img
              src="../assets/images/search-paging-food-4.jpg"
              alt="角公園咖啡’"
              class="store-img col-lg-5 col-12 d-block img-fluid"
            />
            <div
              class="store px-lg-6 px-2 py-lg-13 py-4 d-flex align-items-lg-center align-items-start col-lg-5 col-12"
            >
              <div class="store-inform">
                <h2 class="fs-7 fw-semibold text-secondary">角公園咖啡</h2>
                <div class="rank d-flex mb-3 align-items-center">
                  <p class="fs-9 me-1 mb-0">4</p>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star fs-7"></i>
                  <p class="fs-9 ms-6 mb-0">45則評價</p>
                </div>
                <div class="phone d-flex mb-3 align-items-center">
                  <i class="bi bi-telephone-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">電話 : 02 2556 1773</p>
                </div>
                <div class="site d-flex mb-3 align-items-center">
                  <i class="bi bi-geo-alt-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">地址 : 103台北市大同區太原路131號2樓</p>
                </div>
              </div>
              <div
                class="store-collect d-flex justify-content-center align-items-center"
              >
                <a href="#" class="text-secondary"
                  ><i
                    class="bi bi-heart fs-lg-3 fs-6 store-collect-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-search"
                  ></i
                ></a>
              </div>
            </div>
          </li>

          <li
            class="store-items d-flex flex-lg-row flex-column justify-content-between mb-lg-10 mb-8"
          >
            <img
              src="../assets/images/search-paging-food-5.png"
              alt="金雞母-東門店’"
              class="store-img col-lg-5 col-12 d-block img-fluid"
            />
            <div
              class="store px-lg-6 px-2 py-lg-13 py-4 d-flex align-items-lg-center align-items-start col-lg-5 col-12"
            >
              <div class="store-inform">
                <h2 class="fs-7 fw-semibold text-secondary">金雞母-東門店</h2>
                <div class="rank d-flex mb-3 align-items-center">
                  <p class="fs-9 me-1 mb-0">4</p>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star-fill text-primary fs-7 me-1"></i>
                  <i class="bi bi-star fs-7"></i>
                  <p class="fs-9 ms-6 mb-0">30則評價</p>
                </div>
                <div class="phone d-flex mb-3 align-items-center">
                  <i class="bi bi-telephone-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">電話 : 0908 232 108</p>
                </div>
                <div class="site d-flex mb-3 align-items-center">
                  <i class="bi bi-geo-alt-fill fs-9 me-1"></i>
                  <p class="fs-9 mb-0">
                    地址 : 100台北市中正區杭州南路一段143巷36號
                  </p>
                </div>
              </div>
              <div
                class="store-collect d-flex justify-content-center align-items-center"
              >
                <a href="#" class="text-secondary"
                  ><i
                    class="bi bi-heart fs-lg-3 fs-6 store-collect-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#cancel-search"
                  ></i
                ></a>
              </div>
            </div>
          </li>
        </ul>

        <div
          class="pagination-container d-flex justify-content-lg-end justify-content-center"
        >
          <nav>
            <ul class="pagination mb-0">
              <li class="page-item">
                <a
                  class="page-link border-0 py-lg-2 py-1 px-lg-3 px-2"
                  href="#"
                  aria-label="Previous"
                >
                  <i class="bi bi-chevron-left fs-lg-8 fs-9 text-secondary"></i>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0 active"
                  href="#"
                  >1</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                  href="#"
                  >2</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                  href="#"
                  >3</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link fs-lg-8 fs-9 py-lg-2 py-1 px-lg-4 px-3 text-secondary border-0"
                  href="#"
                  >4</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link border-0 py-lg-2 py-1 px-lg-3 px-2"
                  href="#"
                  aria-label="Previous"
                >
                  <i
                    class="bi bi-chevron-right fs-lg-8 fs-9 text-secondary"
                  ></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <section
      class="footer-banner d-flex flex-column justify-content-center align-items-center bg-primary py-lg-16 py-11"
    >
      <h2 class="fw-bolder fs-lg-1 fs-4 mb-0">發現更多美食寶藏</h2>
      <h3 class="fw-semibold fs-lg-2 fs-6 mb-lg-13 mb-10">看更多類似店家</h3>
      <a
        href="#"
        class="footer-more-btn btn btn-secondary text-primary border-radius-lg text-decoration-none fs-lg-7 fs-9 pt-lg-2 pt-1 px-lg-6 px-4"
        role="button"
        >探索美食</a
      >
    </section>

    <div
      class="modal fade"
      id="cancel-search"
      tabindex="-1"
      aria-labelledby="cancel-search"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-lg-6 fs-7" id="modalLabel-cancel-search">
              確認訊息
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="fs-lg-8 fs-9 mb-0">
              需登入後才能收藏此餐廳~是否立即跳轉至登入頁面?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary border-radius-xss"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button type="button" class="btn btn-primary border-radius-xss">
              確定
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script>
      const icons = document.querySelectorAll(".store-collect-icon");

      icons.forEach((icon) => {
        icon.addEventListener("mouseenter", function () {
          icon.classList.remove("bi-heart");
          icon.classList.add("bi-heart-fill");
        });

        icon.addEventListener("mouseleave", function () {
          icon.classList.remove("bi-heart-fill");
          icon.classList.add("bi-heart");
        });
      });
    </script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
