<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊會員</title>
    <link rel="icon" href="../assets/images/logo-top.png" type="image/x-icon" />
</head>
<body>
    <%- include('./layout/header'); -%>

    <section class="signup-bg mx-auto vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-10 mt-8">
                    <nav aria-label="breadcrumb text-secondary">
                        <ol class="breadcrumb mb-3">
                        <li class="breadcrumb-item"><a href="index.html" class="text-secondary">首頁</a></li>
                        <li class="breadcrumb-item breadCrumn-width"><a href="#" class="text-secondary">會員中心</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">註冊</li>
                        </ol>
                    </nav>    
                </div>
            </div>
        </div>    
        <div class="container">
            <div class="row justify-content-center">
                <div class="signup-grbg col-8 col-lg-10">
                    <div class="container">
                        <div class="row ">
                            <div class="col-6 text-area">
                                <h2 class="fs-lg-4 fs-5">已經有會員?</h2>
                                <h3 class="fs-md-7 fs-sm-8 fs-11 pt-4">一起來探索有哪些新美食！</h3>
                                <a href="login.html" class="btn btn-secondary btn-hover-yellow py-2 px-4 border-radius-xs fs-md-8 fs-sm-9 fs-11 mt-4" role="button">登入會員</a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-4 signup-box">
                    <h3 class="fw-bold fs-6 fs-xl-5 m-8 px-4 px-md-0 text-center">註冊</h3>
                    <form class="m-8">
                        <h4 class="d-lg-none fw-bold fs-8 fs-xl-6 m-4 px-4 px-md-0 text-center">歡迎加入一同分享美食清單!</h4>
                        <div class="mb-4">
                            <label for="exampleInputName" class="form-label"></label>
                            <input placeholder="請輸入姓名" type="name" class="member-icon form-control" id="exampleInputName">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label"></label>
                            <input placeholder="請輸入電子郵件" type="email" class="envelope-icon form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label"></label>
                            <input placeholder="請輸入密碼" type="password" class="eye-icon form-control" id="exampleInputPassword1">
                            
                        </div>
                        <div class="signup-btn"><a href="#" class="btn btn-primary btn-hover-black py-2 px-8 mt-4 border-radius-xs" role="button">註冊</a></div>
                    </form>
                </div>
            </div>
        </div>           
    </section>

    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
</body>
</html>
